DATABASE_URL= #* DB Url mysql://
ENV_MODE= #* OPCIONÁLIS: A futás módja: production / testing / devel. Így férnek hozzá az emberek: mindenki / tesztelők / sysadminok. Alapértelmezetten az image-be setelve van, felülírható.
MODULE= #* OPCIONÁLIS: Abban az esetben ha az API darabolva fut, akkor ez érték a config alapján csak is a megadott module-t fogja futtani. API / GBOT / CDN.